@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form id="form" class="form-group-container" method="post">
    <div class="form-group">
        <label for="numberInput">Enter Amount</label>
        <div class="input-wrapper">
            <input type="text" class="form-control" id="numberInput" name="NumberInput" placeholder="0.00"
                title="Please enter a valid amount in dollars and cents, for example 123.45" value="@Model.NumberInput">
        </div>
        <span class="error-message" id="message"></span>
    </div>
    <button type="submit" class="btn btn-primary">Convert</button>
</form>

@if (Model.ConversionResult != null)
{
    <div class="alert alert-success" role="alert">
        <strong>Converted Amount:</strong> @Model.ConversionResult
    </div>
}
